<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path("banner.jpg")%>)";>
  <div class="container text-center">
    <h1 class="mb-6">Find Your Gig</h1>
    <% if user_signed_in? %>
      <button class="btn btn-warning mb-5 mt-6"><%= link_to "Add my venue", new_user_venue_path(current_user) %></button>
    <% end %>
  </div>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div class="container">
  <div class="cards">
    <% @venues.each do |venue| %>
      <%= render "shared/card", venue: venue %>
    <% end %>
  </div>
</div>
