<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path("banner.jpg")%>)";>
  <div class="container text-center">
    <h1 class="mb-6">Find Your Gig</h1>

    <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: venues_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword" %>
        <%= submit_tag "Search", name: "", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>


    <% if user_signed_in? %>
      <%= link_to "Add my venue", new_user_venue_path(current_user), class: "btn btn-warning mb-5 mt-6" %>
    <% end %>
  </div>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div class="container">
  <div class="cards">
    <% if @venues.any? %>
      <% @venues.each do |venue| %>
        <%= render "shared/card", venue: venue %>
      <% end %>
      <% else %>
          <em>Sorry, no venue found.</em>
      <% end %>
  </div>
</div>
