 <h1 class="text-center"><%= @venue.name%></h1>

<div class="container">
   <div class="cards">
      <h3><%= @venue.name %></h3>
      <p><%= @venue.address %></p>
      <p><%= @venue.overview %></p>
  <%# <% if user_signed_in? && current_user.role == "owner"%>
  <% if current_user != @venue.owner %>
  <%# <%= if current_user.role == "musician" %>
    <div class="btn-container">
      <%= link_to "Book!", new_user_venue_booking_path(current_user, @venue), class: "btn btn-warning mb-5" %>
    </div>
    <% elsif %>
      <%= link_to "Edit", edit_user_venue_path(current_user), class: "btn btn-warning mb-5" %>
      <%= link_to "Delete", "/users/#{current_user.id}/venues/#{@venue.id}" , data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-warning mb-5" %>
    <% end %>
  </div>
</div>

    <%= console %>
