 <h1 class="text-center"><%= @venue.name%></h1>

<div class="container">
   <div class="cards">
      <h3><%= @venue.name %></h3>
      <p><%= @venue.address %></p>
      <p><%= @venue.overview %></p>
  <% if user_signed_in? && current_user.role == "owner"%>
    <button class="btn btn-warning mb-5"><%= link_to "Edit", edit_user_venue_path(current_user) %></button>
    <button class="btn btn-warning mb-5"><%= link_to "Delete", "/users/#{current_user.id}/venues/#{@venue.id}" , data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %></button>
  <% end %>
  <div class="btn-container">
    <button class="btn btn-warning mb-5"><%= link_to "Book!", new_user_venue_booking_path(current_user, @venue) %></button>
  </div>
  </div>
</div>
